#gotop {
    display: none;
    position: fixed;
    right: 45px;
    bottom: 80px;    
    padding: 10px 15px;    
    font-size: 20px;
    background: #8DC73F;
    color: white;
    cursor: pointer;
    border-radius: 60px;
}
#gohome {
    display: none;
    position: fixed;
    right: 40px;
    bottom: 20px;    
    padding: 10px 15px;    
    font-size: 20px;
    background: #8DC73F;
    color: white;
    cursor: pointer;
    border-radius: 60px;
}